#calculator {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #03050e;
  border-radius: 15px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 10px 30px;
}

#title {
  margin: 10px 0;
  color: #2ff30c;
}

#display {
  border-color: #091107;
  border-style: solid;
  border-width: 2px 2px 4px 4px;
  background-color: #0a1a07;
  height: 50px;
  color: #2ff30c;
  border-radius: 10px;
  width: calc(100% - 13px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
  padding-right: 5px;
  font-size: calc(50px - 10px);
  user-select: none;
}

#buttons-container {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px 5px;
  grid-auto-flow: row;
}
